<style>
  table,
  th,
  td {
    border: 1px solid black;
  }

  table {
    border-collapse: collapse;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<div style="text-align:center">
  <h1>Customer</h1>
  <form [formGroup]="customerModel.formGroup">
    Id: <input formControlName="codeControl" type="text" [(ngModel)]="customerModel.code"><br>
    Name: <input formControlName="nameControl" type="text" [(ngModel)]="customerModel.name"><br>
    Value: <input type="number" [(ngModel)]="customerModel.value" [ngModelOptions]="{standalone: true}"><br>

    <!-- <input [disabled]="!(customerModel.formGroup.valid)" type="button" (click)="add()" value="Add"><br> -->

    <input [disabled]="!(customerModel.formGroup.valid) || requestOnGoing" type="button" value="Send to server" (click)="saveCustomer()"/><br>
  </form>

  <div *ngIf="dirty('codeControl')" [hidden]="!hasError('codeControl','required')">code cannot be empty</div><br>
  <div *ngIf="dirty('codeControl')" [hidden]="!hasError('codeControl','pattern')">code must have 4 numberics</div><br>
  <div *ngIf="dirty('nameControl')" [hidden]="!hasError('nameControl','required')">name cannot be empty</div><br>


  <table style="align-self: center;">
    <tr>
      <td style="width: 40%;">{{customerModel.code}}</td>
      <td style="width: 40%;">{{customerModel.name}}</td>
      <td style="width: 20%;">{{customerModel.value}}</td>
    </tr>
  </table><br>

  <grid-ui [grid-columns]='[{"name": "code"}, {"name": "name"}, {"name": "value"}]' [grid-data]="customers"
    (select-data)="selectData($event)" (delete-data)="deleteData($event)"></grid-ui>

</div>